* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray
}

table {
    font-size: larger;
}

.th {
    font-weight:bolder;
    font-size: larger;
}