* {
    margin: 0px;
    padding: 0px;
    font-family:fantasy;
    font-size: larger;
}

body {
    background-color: lightgray
}

.tweets { 
    background-color: gray;
}

.tweet1 {
    background-color:green
}
.tweet2 {
    background-color:yellow
}
.tweet3 {
    background-color:red
}
